<div class="{{ css_prefix }}page-error {{ css_prefix }}page-404 {% if attrs.class %}{{ attrs.class }}{% endif %}">
    {% if slot_illustration %}
    <div class="{{ css_prefix }}page-illustration">
        {{ slot_illustration|safe }}
    </div>
    {% endif %}
    <div class="{{ css_prefix }}page-error-code">404</div>
    <h1 class="{{ css_prefix }}page-title">{{ title }}</h1>
    <p class="{{ css_prefix }}page-description">{{ description }}</p>
    <div class="{{ css_prefix }}page-actions">
        <a href="{{ home_url }}" class="{{ css_prefix }}btn {{ css_prefix }}btn-primary {{ css_prefix }}btn-md">Go home</a>
    </div>
</div>
