<div class="{{ css_prefix }}card {{ css_prefix }}page-password-confirm {% if attrs.class %}{{ attrs.class }}{% endif %}">
    <div class="{{ css_prefix }}card-header">
        <h1 class="{{ css_prefix }}card-title {{ css_prefix }}page-title">{{ title }}</h1>
    </div>
    <div class="{{ css_prefix }}card-body">
        <p class="{{ css_prefix }}page-description">{{ description }}</p>
        <form method="post"{% if action %} action="{{ action }}"{% endif %}>
            {% if csrf_token %}<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />{% endif %}
            <div class="{{ css_prefix }}page-form-fields">
                <div class="{{ css_prefix }}input-group">
                    <label for="new_password" class="{{ css_prefix }}input-label">New password</label>
                    <input type="password" name="new_password" id="new_password" class="{{ css_prefix }}input" placeholder="Enter new password" required />
                </div>
                <div class="{{ css_prefix }}input-group">
                    <label for="new_password_confirm" class="{{ css_prefix }}input-label">Confirm new password</label>
                    <input type="password" name="new_password_confirm" id="new_password_confirm" class="{{ css_prefix }}input" placeholder="Confirm new password" required />
                </div>
                <button type="submit" class="{{ css_prefix }}btn {{ css_prefix }}btn-primary {{ css_prefix }}btn-md {{ css_prefix }}page-btn-full">Set new password</button>
            </div>
        </form>
    </div>
</div>
