{% load theme_form_tags %}{% get_css_prefix as prefix %}{% with id=widget.attrs.id %}<div{% if id %} id="{{ id }}"{% endif %} class="{{ prefix }}theme-radio-group{% if widget.attrs.class %} {{ widget.attrs.class }}{% endif %}">{% for group, options, index in widget.optgroups %}{% if group %}
  <div><label>{{ group }}</label>{% endif %}{% for option in options %}<div class="{{ prefix }}theme-radio-option">
    {% include option.template_name with widget=option %}</div>{% endfor %}{% if group %}
  </div>{% endif %}{% endfor %}
</div>{% endwith %}