{% load theme_form_tags %}{% get_css_prefix as prefix %}{% if field.use_fieldset %}
  <fieldset{% if field.aria_describedby %} aria-describedby="{{ field.aria_describedby }}"{% endif %}>
  {% if field.label %}<legend class="{{ prefix }}theme-label">{{ field.label }}</legend>{% endif %}
{% else %}
  {% if field.label %}<label for="{{ field.id_for_label }}" class="{{ prefix }}theme-label">{{ field.label }}</label>{% endif %}
{% endif %}
{% if field.help_text %}<div class="{{ prefix }}theme-help-text"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</div>{% endif %}
{{ field.errors }}
{{ field }}{% if field.use_fieldset %}</fieldset>{% endif %}